.quickLinks {

  .heading{
    color:black;
    text-align: left;
    display: block;
    font-size: 24px;
    font-weight: 100;
    text-align:justify;
    margin:0px 25px;
  }

  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    width:100%;
    display: block;

    ul{
      list-style-type: none;
      width:100%;
      clear: both;
      padding: 0;
      display: block;
      margin-bottom: 10px;
    }

    li{
      width:30%;
      display: inline-block;
      vertical-align: top;
      min-height: 87px;
      border-width: 1px;
      border-style: solid;
      border-color: lightgray;
      margin:5px;

      a{
        text-align: center;
        display: block;
        
        img{
          width:60px;
          height: 60px;
          margin: .5355rem 0;
        }
      }
    }
  }
}